@mixin liPar($bg) {
	background: $bg;
	line-height: 24px;
	padding: 0 0 0 32px;
	display: inline-block;
	color: #999;
	span {
		border-bottom: 1px dotted;
	}
}
.header {
	background: url("../img/bg_header.jpg") center 0 no-repeat;

	// .header__top
	&__top {
	}

	// .header__bottom
	&__bottom {
	}
	@media (max-width: $md3+px) {
		background: url("../img/bg_header.jpg") 0 0 no-repeat;
	}
}
.top-header {
      
	// .top-header__content

	&__content {
		display: flex;
		align-items: center;
		height: 90px;
	}

	// .top-header__column
	&__column {
		flex: 0 1 50%;
        position: relative;
        z-index: 1;

		&:nth-child(2) {
			align-self: flex-start;
			padding: 25px 0 0 0;
			flex: 0 0 190px;
			text-align: center;

			@media (max-width: $md3+px) {
				padding: 0;
                align-self: center;
                z-index: 3;
				img {
					display: inline-block;
					width: 100px;
				}
			}
		}
        @media (max-width: 550px) {
            display: flex;
            justify-content: space-around;
        }
	}

	// .top-header__menu
	&__menu {      
		.icon-menu {
			display: none;
			@media (max-width: $md2+px) {
				position: relative;
				display: block;
				width: 30px;
				height: 18px;
				cursor: pointer;
				z-index: 5;
				span {
					transition: all 0.3s ease 0s;
					top: calc(50% - 1px);
					left: 0px;
					position: absolute;
					width: 100%;
					height: 2px;
					background-color: $white;
					&:first-child {
						top: 0px;
					}
					&:last-child {
						top: auto;
						bottom: 0px;
					}
				}
				&._active {
					span {
						transform: scale(0);
						&:first-child {
							transform: rotate(-45deg);
							top: calc(50% - 1px);
						}
						&:last-child {
							transform: rotate(45deg);
							bottom: calc(50% - 1px);
						}
					}
				}
			}
		}
      // width: 100%;
		ul {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			.actions-header__login,
			.actions-header__reg,
			.actions-header__email {
				display: none;
				@media (max-width: 550px) {
					display: grid;
				}
			}
            @media (max-width: 992px) {
                &:after {
                    content: '';
                    position: fixed;
                    top: 0;
                    left: 0;
                    height: 90px;
                    width: 100%;
                    background-color: #1ab9ce;
                    z-index: 2;
                }
            } 
			@media (max-width: $md1+px) {
				grid-template-columns: 0.3fr 0.3fr 0.3fr;
			}

			@media (max-width: $md2+px) {
				position: fixed;
				width: 100%;
				height: 100%;
				top: 0px;
				left: -100%;
				background: rgba(20, 192, 212, 0.8);
				display: flex;
				flex-direction: column;
				align-items: center;
				padding: 90px 20px 20px 20px;
				overflow: auto;
				visibility: hidden;
				opacity: 0;
                transition: all 0.4s ease-out;
           
				&._active {
					visibility: visible;
					opacity: 100;
					left: 0;
				}
				li {
					a {
						font-size: 24px;
						margin-bottom: 10px;
					}
				}
			}
			li {  
				a {
					font-family: "Play";
					display: inline-flex;
					justify-content: center;
					align-items: center;
					min-height: 27px;
					color: $white;
					padding: 0 22px;
					white-space: nowrap; 
					margin: 0 auto;
					position: relative;
					z-index: 1;  
					@media (max-width: $md1+px) {
						padding: 10px;
					}
					&:after {
						content: "";
						position: absolute;
						bottom: 3px;
						height: 1px;
						background: $white;
						display: inline-block;
						width: 0;
						transition: all 0.3s ease;
					}
					&:before {
						content: "";
						position: absolute;
						width: 0;
						height: 100%;
						top: 0;
						z-index: -1;
						border-radius: 20px;
						transition: all 0.3s linear;
					}
					@media (min-width: $md2+px) {
						&:hover:before {
							background-color: #068292;
							width: 100%;
						}
					}
					@media (min-width: $md2+px) {
						&:hover:after {
							width: calc(100% - 44px);
						}
					}
				}
			}
		}
	}
}

.contacts-header {
	display: flex;
	justify-content: center;
	@media (max-width: $md2+px) {
		flex-direction: column;
	}
	@media (max-width: 550px) {
		position: absolute;
		height: -webkit-fit-content;
		height: -moz-fit-content;
		height: fit-content;
		min-width: -webkit-fit-content;
		min-width: -moz-fit-content;
		min-width: fit-content;
		top: 0px;
		right: -20px;
		background: #1ab9ce;
		padding: 15px;
		z-index: 2;
		visibility: hidden;
		opacity: 0;
		transition: all 0.4s ease-out;
		&._active {
			visibility: visible;
			opacity: 100;
			top: 69px;
		}
	}
	// .contacts-header__column
	&__column {
		&:first-child {
			border-right: 1px solid $white;
			padding: 0 30px 0 0;
			@media (max-width: $md2+px) {
				border-right: 0;
				padding: 0 0 10px 0;
				display: flex;
				justify-content: center;
			}
		}
		&:nth-child(2) {
			padding: 0 0 0 30px;
			@media (max-width: $md2+px) {
				border-right: 0;
				padding: 0;
				display: flex;
				justify-content: center;
			}
		}

		.contacts-header__callback {
			display: none;
			color: $white;
			font-size: 22px;
			margin-bottom: 10px;
			text-decoration: underline;
			@media (max-width: 550px) {
				display: block;
			}
		}
		.contacts-header__schedule {
			display: none;
			@media (max-width: 550px) {
				display: block;
			}
		}

		@media (max-width: $md2+px) {
			padding: 0;
			display: flex;
			justify-content: center;
		}
	}

	// .contacts-header__item
	&__item {
		white-space: nowrap;
		@media (max-width: 550px) {
			// display: none;
			margin-bottom: 10px;
		}
		// .contacts-header__item_icon
		&_icon {
			background: url("../img/icons/header/phone.png") no-repeat;
         padding: 0 0 0 37px;

			@media (max-width: $md1+px) {
				padding: 0 0 0 25px;
			}
			@media (max-width: $md2+px) {
				background: none !important;
				padding: 0 0 0 0;
			}
		}
	}

	// .contacts-header__label
	&__label {
		font-size: 12px;
		font-weight: 300;
		color: $white;
		margin: 0 0 5px 0;
		@media (max-width: $md2+px) {
			margin: 0 0 2px 0;
		}
		// @media (max-width: 550px) {
		// 	font-size: 0;
		// }
	}

	// .contacts-header__phone
	&__phone {
		color: $white;
		font-weight: 900;
		font-size: 18px;
		@media (max-width: 550px) {
			font-size: 24px;
		}
	}
}
.bottom-header {
	// .bottom-header__container
	&__container {
		display: flex;
		height: 63px;
		align-items: center;
		justify-content: space-between;
        padding: 0 42px;
        @media(max-width: 700px){
            padding: 0 20px;
        }
	}

	// .bottom-header__column
	&__column {
		flex: 0 1 calc(50% - 95px);
		ul {
			display: flex;
		}
		@media (max-width: $md3+px) {
			flex: 0 1 50%;
			&:last-child {
				margin-left: 25px;
			}
		}
	}

	// .bottom-header__actions
	&__actions {
	}

	// .bottom-header__info
	&__info {
		display: flex;
	}
}
.actions-header {
	display: flex;
	align-items: center;
	@media (max-width: 550px) {
		display: none !important;
	}
	// .actions-header__login
	li {
		margin: 0 54px 0 0;
		@media (max-width: $md1+px) {
			margin: 0 25px 0 0;
		}
		@media (max-width: $md2+px) {
			margin: 0;
		}
	}
	&__login {
		@include liPar(url("../img/icons/header/login.png") center left no-repeat);
		&:hover {
			color: #1ab9ce;
		}
		@media (max-width: $md2+px) {
			background: none !important;
			padding: 0;
		}
	}

	// .actions-header__reg
	&__reg {
		@include liPar(url("../img/icons/header/user.png") center left no-repeat);
		&:hover {
			color: #1ab9ce;
		}
		@media (max-width: $md2+px) {
			background: none !important;
		}
	}

	// .actions-header__email
	&__email {
		@include liPar(url("../img/icons/header/mail.png") center left no-repeat);
		span {
			border-bottom: 1px solid;
		}
		&:hover {
			color: #1ab9ce;
		}
		@media (max-width: $md2+px) {
			background: none !important;
		}
	}
}
.info-header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	line-height: 20px;
	&__column {
		padding: 0 54px 0 0;
		@media (max-width: $md1+px) {
			padding: 0 25px 0 0;
		}
		&:last-child {
			padding: 0 12px 0 0;
		}
		@media (max-width: $md3+px) {
			padding: 0 10px 0 0;
		}
	}

	// .info-header__callback
	&__callback {
		@include liPar(url("../img/icons/header/callback.png") center left no-repeat);
		&:hover {
			color: #1ab9ce;
		}
		@media (max-width: $md1+px) {
			background: none !important;
			padding: 0 0 0 0px;
		}
		@media (max-width: 550px) {
			display: none;
		}
	}

	// .info-header__schedule
	&__schedule {
		@include liPar(url("../img/icons/header/schedule.png") center left no-repeat);
		font-size: 12px;
		line-height: 18px;
		span {
			font-weight: 900;
		}
		@media (max-width: $md1+px) {
			background: none !important;
			padding: 0 0 0 0px;
		}
		@media (max-width: $md2+px) {
			display: none;
		}
	}

	// .info-header__cart
	&__cart {
		@include liPar(url("../img/icons/header/cart.png") center left no-repeat);
		width: 43px;
		height: 43px;
		position: relative;
		display: inline-block;
		span {
			position: absolute;
			padding: 0 11px;
			border-radius: 20px;
			border: 0;
			color: $white;
			background-color: #f68038;
			height: 25px;
			display: inline-block;
			line-height: 25px;
		}
	}
}

.top-header__tel {
	display: none;
	@media (max-width: 550px) {
		background: url("../img/icons/header/phone.png") center center no-repeat;
		width: 45px;
		height: 45px;
		display: flex;
		// margin-left: auto;
		border: 2px solid $white;
      border-radius: 50%;
      position: relative;
      z-index: 3;
	}
}