//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import url("https://fonts.googleapis.com/css?family=Roboto:wght@300,400,500,700,900&display=swap&subset=cyrillic-ext");
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Roboto";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1400;
$maxWidthContainer: 1180;
$md1: $maxWidthContainer+12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";

body {
   color: #000;
   font-size: 14px;

   &._lock {
      overflow: hidden;
   }
}

//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
   width: 100%;
   // min-height: 100%;
   // overflow: hidden;
   display: flex;
   flex-direction: column;

   &._loaded {}
}

//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
   max-width: $maxWidthContainer + px;
   margin: 0 auto;
   padding: 0 20px;
}

//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "colors";
@import "forms";
@import "ui";

//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
@import "popup";
@import "header";
@import "footer";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
   flex: 1 1 auto;
   color: #000;
    &__container {
       display: flex;
    }
}

.sidebar {
   background: url('../img/bg_menu.jpg') top no-repeat;
   width: 260px;
   color: $white;
   position: relative;
   z-index: 100000;
   &__menu {}
}

.page__content{
   margin: 0 0 0 30px;
   flex: 1 1 auto;
}

.menu-sidebar {

   &__header {
      position: relative;
      display: flex;
   }

   &__title {
      font-family: 'uniSans';
      font-size: 30px;
      font-weight: 400;
      text-transform: uppercase;
      padding: 20px 0 20px 20px;
      line-height: 35/30 *100%;
      letter-spacing: 1px;
   }
   .menu-sidebar__wpapper{
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 36px;
      height: 36px;
      background-color: #068292;
      flex: 0 0 36px;
       top: 50%;
       right: 20px;
       transform: translate(0%, -50%);
   }
   &__menu-icon {
      // display: none;
      display: block;
      position: absolute;
      width: 24px;
      height: 16px;
      cursor: pointer;
      z-index: 5;

      span {
         transition: all 0.3s ease 0s;
         top: calc(50% - 1px);
         left: 0px;
         position: absolute;
         width: 100%;
         height: 2px;
         background-color: $white;

         &:first-child {
            top: 0px;
         }

         &:last-child {
            top: auto;
            bottom: 0px;
         }
      }

      &._active {
         span {
            transform: scale(0);

            &:first-child {
               transform: rotate(-45deg);
               top: calc(50% - 1px);
            }

            &:last-child {
               transform: rotate(45deg);
               bottom: calc(50% - 1px);
            }
         }
      }
   }

   &__body {
      display: none;
      // visibility: hidden;
      // opacity: 0;
      // transition: all .4s ease;
      // margin-top: -100px;
      &._active{
         display: block;
         // visibility: visible;
         // opacity: 100%;
         // margin-top: 0;
      }
      ul{
         li{
            font-size: 12px;
            border-bottom: 1px solid #1aa7b9;
            transition: all .3s ease-out;
            >a{
               display: block;
               color: $white;
               padding: 12px 10px 12px 20px;
            }
            &:hover {
               background-color: #098494;
            }
         }
         
         .menu-sidebar__sublink{
            background-image: url('../img/menu_arrow.png');
            background-repeat: no-repeat;
            background-position: right 10px center;
            animation: arrow .9s infinite linear;
            &:hover{
               animation: none;
            }
             &._active {
                .submenu{
                  visibility: visible;
                  opacity: 100%;
                  left: 100%;
                  transition: all .6s ease;
                }         
             }
         }
         @keyframes arrow {
            0% {
               background-position: right 15px center;
            }
            50% {
               background-position: right 8px center;
            }
            100% {
               background-position: right 15px center;
            }
         }
      }
   }

   &__sublink {}

.menu-sidebar {

   &__submenu {
   }
}

.submenu {
   position: absolute;
   border: 2px solid #098494;
   background-color: $white;
   top: 0;
   left: 50%;
   height: 100%;
   width: 280px;
   visibility: hidden;
   opacity: 0;
   transition: all .2s ease;
   z-index: -1;

   &__menu {
      border-bottom: 1px solid #dedede;
      padding: 20px 0;
      ul{
         li{
            padding: 0 20px;
            transition: all .4s ease-out;
            border-bottom: none;
            a{
               color: #1ab9ce;
               font-size: 12px;
               transition: all .4s ease-in;
            }
            &:hover {
               & a{
                  color: $white;
               }
               background-color: #1ab9ce;
            }
         }
      }
   }

   &__item {
      padding: 10px 25px;
   }
}

.item {

   &__wrapper {

      &:hover .item__description {
         text-decoration: underline;
      }  
   }

   &__labels {
      display: inline-flex;
      flex-direction: column;
      margin-bottom: 10px;  
   }

   &__label {
      padding: 5px 12px;
      background: #fd8424;
      border-radius: 15px;
      display: inline-block;
      text-transform: uppercase;
      color: $white;
      margin-bottom: 5px;
   }

   &__img {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
      img{
         max-width: 100%;
         max-height: 250px;
      }
   }

   &__description {
      color: #36949f;
      font-size: 16px;
      line-height: 22/16*100%;
      margin-bottom: 20px;
   }

   &__buy {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   &__cart {
      background: url('../img/icons/cart_gray.png') center center no-repeat;
      width: 40px;
      height: 40px;
   }

   &__old-price {
      display: flex;
      justify-content: flex-end;
      color: #a6a6a6;
      font-size: 18px;
      text-decoration: line-through;
      span {
         font-size: 14px;
      }
   }

   &__new-price {
      color: #000;
      font-weight: 900;
      font-size: 24px;
      span{
         font-size: 18px;
      }
   }
}

}

.page {

   &__content {}

   &__search {
     
   }
}

.search-page {
   display: flex;
   height: 40px;
   align-items: center;
   position: relative;

   &__categories {
   }
}

.categories {
   height: 100%;
   align-items: center;
   justify-content: center;
   display: flex;
   background-color: #f3f3f3;
   cursor: pointer;
   &::before {
      content: '';
      background: url('../img/icons/search_page.png') center center no-repeat;
      height: 17px;
      width: 17px;
      display: inline-block;
      margin: 0 10px;
      transition: all .4s ease;
   }
   &::after {
      content: '';
      background: url('../img/icons/search_page_arrows.png') center center no-repeat;
      height: 17px;
      width: 17px;
      display: inline-block;
      margin: 0 10px;
      transition: all .4s ease;
   }

   &._active{
      &::after{
         transform: rotate(-180deg);
      }
      &::before {
         transform: rotate(-360deg);
      }
   }

   &__title {
      color: #898989;
      border-bottom: 1px dotted #898989;
      font-size: 14px; 
      span:last-child {
         display: none;
      }
   }

 

   ._categories{
      span{
         display: none;
         &:last-child{
            display: block !important;
         }
      }
   }

   &__list {
      display: none;
      position: absolute;
      top: 40px;
      left: 0;
      width: 100%;
      background-color: $white;
      border-left: 1px solid #f3f3f3;
      border-right: 1px solid #f3f3f3;
      border-bottom: 5px solid #f68038;
      // &._active{
      //    display: block;
      // }
   }

   &__row {
      display: flex;
   }

   &__col {
      flex: 0 1 33.333%;
      padding-left: 40px;
      border-right: 1px solid #f3f3f3;
      ul{
         label{
            display: block;
            margin: 20px 0;
            span{
               color: #898989;
               transition: all .4s ease;
               &:hover{
                  color: darken(#898989, 20%);
               }
            }
         }
      }
      &:last-child{
         border-right: 0;
      }
   }
}

.search {

   &__field {
      flex: 1 1 auto;
      height: 100%;
      align-items: center;
      justify-content: center;
      border: 2px solid #f3f3f3;
      input{
         padding: 0 20px;
         height: 100%;
      }
   }

   &__input {}

   &__btn {

   }
}

.btn {}


//===================================================================================================================================

//====================================================================================================


//====================================================================================================

/*
//Burger
.icon-menu {
	display: none;
	@media (max-width: $md3+px) {
		display: block;
		position: absolute;
		top: 18px; 
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
*/

//</ОСНОВНОЙ БЛОК>====================================================================================================