//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700,900&display=swap&subset=cyrillic-ext");

@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Roboto";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1400;
$maxWidthContainer: 1180;
$md1: $maxWidthContainer+12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";

body {
    color: #000;
    font-size: 14px;

    &._lock {
        overflow: hidden;
    }
}

//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;

    &._loaded {}
}

//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
    max-width: $maxWidthContainer + px;
    margin: 0 auto;
    padding: 0 20px;
}

//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "colors";
@import "forms";
@import "ui";

//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
@import "popup";
@import "header";
@import "footer";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
    flex: 1 1 auto;
    color: #000;

    &__container {
        @media (min-width: $md2+px) {
            display: flex;
        }
    }
}

.sidebar {
    min-width: 260px;
    max-width: 260px;
    color: $white;
    position: relative;
    z-index: 3;

    @media (max-width: $md2+px) {
        max-width: 100%;
    }
}

.page__content {
    margin: 0 0 0 30px;
    flex: 1 1 auto;
    min-width: 0;

    @media (max-width: $md2+px) {
        margin: 0 0 0 0px;
    }
}

.menu-sidebar {
    margin: 0 0 40px 0;

    @media (max-width: $md2+px) {
        width: 100%;
        margin-bottom: 20px;
    }

    @media (max-width: $md3+px) {
        max-width: 100%;
        margin-bottom: 20px;
    }


    &__header {
        background: url("../img/bg_menu.jpg") top no-repeat;
        position: relative;
        display: flex;

        @media (max-width: $md2+px) {
            background: url("../img/bg_menu.jpg") left repeat;
            padding: 0 70px 0 0;
        }
    }

    &__title {
        font-family: "uniSans";
        font-size: 30px;
        font-weight: 400;
        text-transform: uppercase;
        padding: 20px 0 20px 20px;
        line-height: 35/30 * 100%;
        letter-spacing: 1px;
    }

    .menu-sidebar__wpapper {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 36px;
        height: 36px;
        background-color: #068292;
        flex: 0 0 36px;
        top: 50%;
        right: 20px;
        transform: translate(0%, -50%);
    }

    &__menu-icon {

        display: block;
        position: absolute;
        width: 24px;
        height: 16px;
        cursor: pointer;
        z-index: 5;

        span {
            transition: all 0.3s ease 0s;
            top: calc(50% - 1px);
            left: 0px;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: $white;

            &:first-child {
                top: 0px;
            }

            &:last-child {
                top: auto;
                bottom: 0px;
            }
        }

        &._active {
            span {
                transform: scale(0);

                &:first-child {
                    transform: rotate(-45deg);
                    top: calc(50% - 1px);
                }

                &:last-child {
                    transform: rotate(45deg);
                    bottom: calc(50% - 1px);
                }
            }
        }
    }

    &__body {
        background: url("../img/bg_menu.jpg") top no-repeat;
        visibility: hidden;
        opacity: 0;
        transform: scale(0);
        height: 0;

        &._active {
            visibility: visible;
            opacity: 100%;
            transform: scale(1);
            transition: all .4s ease;
            height: 100%;

            @media (max-width: $md2+px) {
                background: url("../img/bg_menu.jpg") left repeat;
                margin-bottom: 20px;
            }
        }

        ul {
            li {
                font-size: 12px;
                border-bottom: 1px solid #1aa7b9;
                transition: all 0.3s ease-out;


                >a {
                    display: block;
                    color: $white;
                    padding: 12px 10px 12px 20px;
                }

                a[data-item] {
                    position: relative;

                    &._act {
                        &:after {
                            transform: rotate(-90deg);
                            top: 0;
                        }
                    }

                    &::after {
                        content: '';
                        background-image: url("../img/menu_arrow.png");
                        background-repeat: no-repeat;
                        animation: arrow 0.9s infinite linear;
                        position: absolute;
                        width: 32px;
                        height: 14px;
                        top: 10px;
                        right: 0px;

                        @media (max-width: $md2+px) {
                            transform: rotate(90deg);
                            animation: none;
                            top: 50%;
                            right: 20px;
                        }
                    }

                    &:hover:after {
                        animation: none;
                    }


                }

                &:hover {
                    @media (min-width: $md2+px) {
                        background-color: #098494;
                    }
                }
            }

            .menu-sidebar__sublink {

                &._activ {
                    background-color: #098494;
                }

                &._active {
                    .submenu {
                        left: 100%;
                        transition: all 0.4s ease;
                        transform: scale(1);

                        &__menu {
                            display: flex;
                        }

                        &__item {
                            display: flex;
                        }

                        @media (max-width: $md3+px) {
                            left: 0;
                            position: relative;
                            z-index: 0;
                            width: inherit;
                        }
                    }
                }
            }

            @keyframes arrow {
                0% {
                    background-position: right 15px center;
                }

                50% {
                    background-position: right 8px center;
                }

                100% {
                    background-position: right 15px center;
                }
            }
        }
    }

    .submenu {
        @media (min-width: $md2+px) {
            position: absolute;
            border: 2px solid #098494;
            background-color: $white;
            top: 0;
            left: 50%;
            height: 100%;
            width: 100%;
            transition: all 0.3s ease;
            z-index: -1;
            transform: scale(0);
        }

        @media (max-width: $md2+px) {
            &._activ {
                left: 0;
                position: relative;
                z-index: 0;
                width: inherit;
                transform: scale(1);

                .submenu__menu {
                    display: flex;

                    ul {
                        li {
                            a {
                                color: $white;
                            }
                        }
                    }
                }

                .submenu__item {
                    display: flex;
                }
            }
        }

        &__menu {
            border-bottom: 1px solid #dedede;
            padding: 20px 0;
            display: none;

            ul {
                width: 100%;

                li {
                    padding: 0 20px;
                    transition: all 0.4s ease-out;
                    border-bottom: none;

                    a {
                        color: #1ab9ce;
                        font-size: 12px;
                        transition: all 0.4s ease-in;
                    }

                    &:hover {
                        & a {
                            color: $white;
                        }

                        background-color: #1ab9ce;
                    }
                }
            }
        }

        &__item {
            padding: 10px 25px;
            display: none;
        }
    }

    .item {
        position: relative;
        display: none;
        flex-direction: column;

        &__wrapper {
            flex: 1 1 auto;

            &:hover .item__description {
                text-decoration: underline;
            }
        }

        &__labels {
            position: absolute;
            display: inline-flex;
            flex-direction: column;
            top: 10px;
        }

        &__label {
            padding: 5px 12px;
            background: #fd8424;
            border-radius: 15px;
            display: inline-block;
            text-transform: uppercase;
            color: $white;
            margin-bottom: 5px;
        }

        &__img {
            img {
                max-width: 100%;
                max-height: 220px;
                background-size: cover;
                display: block;
                margin: auto;
            }
        }

        &__description {
            color: #36949f;
            font-size: 16px;
            line-height: 22/16 * 100%;
            margin-bottom: 20px;

            @media (max-width: $md3+px) {
                color: $white;
            }
        }

        &__buy {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__cart {
            background: url("../img/icons/cart_gray.png") center center no-repeat;
            width: 40px;
            height: 40px;
        }

        &__old-price {
            display: flex;
            justify-content: flex-end;
            color: #a6a6a6;
            font-size: 18px;
            text-decoration: line-through;

            span {
                font-size: 14px;
            }
        }

        &__new-price {
            color: #000;
            font-weight: 900;
            font-size: 24px;

            span {
                font-size: 18px;
            }
        }
    }
}

.search-page {
    display: flex;
    height: 40px;
    align-items: center;
    position: relative;
    z-index: 2;
}

.categories {
    height: 100%;
    background-color: #f3f3f3;
    cursor: pointer;

    @media (max-width: $md3+px) {
        display: none;
    }

    &__item span {
        &._activee {
            color: #f8a780 !important;
        }
    }

    &__title {
        color: #898989;
        font-size: 14px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
            border-bottom: 1px dotted #898989;
        }

        &::before {
            content: "";
            background: url("../img/icons/search_page.png") center center no-repeat;
            height: 17px;
            width: 17px;
            display: inline-block;
            margin: 0 10px;
            transition: all 0.4s ease;
        }

        &::after {
            content: "";
            background: url("../img/icons/search_page_arrows.png") center center no-repeat;
            height: 17px;
            width: 17px;
            display: inline-block;
            margin: 0 10px;
            transition: all 0.4s ease;
        }

        &._active {
            &::after {
                content: '';
                transform: rotate(-180deg);
            }

            &::before {
                content: '';
                transform: rotate(-360deg);
            }
        }
    }

    &__list {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: -40px;
        left: 0;
        width: 100%;
        background-color: $white;
        border-left: 1px solid #f3f3f3;
        border-right: 1px solid #f3f3f3;
        border-bottom: 5px solid #f68038;
        transition: all .4s ease;
        z-index: -1;
    }

    ._active {
        opacity: 1;
        visibility: visible;
        top: 40px;
    }

    &__row {
        display: flex;

        @media (max-width: $md3+px) {
            flex-direction: column;
            width: 100%;
            padding: 0 25px;
        }
    }

    &__col {
        flex: 0 1 33.333%;
        padding-left: 40px;
        padding-right: 10px;
        border-right: 1px solid #f3f3f3;

        @media (max-width: $md2+px) {
            padding: 0 15px;
        }

        ul {
            label {
                display: block;
                margin: 20px 0;

                span {
                    color: #898989;
                    transition: all 0.4s ease;

                    &:hover {
                        color: darken(#898989, 20%);
                    }
                }
            }
        }

        &:last-child {
            border-right: 0;
        }
    }
}

.search {
    &__field {
        flex: 1 1 auto;
        height: 100%;
        align-items: center;
        justify-content: center;
        border: 2px solid #f3f3f3;

        input {
            padding: 0 20px;
            height: 100%;
        }
    }

    &__input {}

    &__btn {}
}


//*                                            MAIN SLIDER                                                            

.page {

    // .page__slider
    &__slider {
        margin-top: 22px;
        margin-bottom: 65px;
    }
}

.mainslider {

    // .mainslider__body
    &__body {}

    // .mainslider__slide
    &__slide {
        position: relative;
    }

    // .mainslider__content
    &__content {
        z-index: 1;
    }

    // .mainslider__image
    &__image {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }

    // .mainslider__dots
    &__dots {
        display: flex;
        justify-content: center;
        margin: -27.5px 0 0 0;
        counter-reset: item;

        .swiper-pagination-bullet {
            overflow: hidden;
            width: 55px;
            height: 55px;
            border-radius: 50%;
            border: 2px solid $white;
            position: relative;
            margin: 0 22px;
            cursor: pointer;

            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;

            &::after {
                content: counter(item);
                counter-increment: item;
                color: #fffefe;
                font-size: 16px;
                font-weight: 900;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                display: flex;
                justify-content: center;
                background-color: #f68038;
                align-items: center;
                visibility: hidden;
                opacity: 0;
                transition: all .4s ease;
            }
        }

        .swiper-pagination-bullet-active {
            position: relative;
            border: 4px solid $white;

            &::after {
                visibility: visible;
                opacity: 1;
            }
        }
    }
}

.content-mainslider {
    padding: 20px 35px 60px 35px;
    position: relative;

    // .content-mainslider__title
    &__title {
        color: #333;
        font-size: 48px;
        font-weight: 900;
        text-transform: uppercase;
        line-height: 43px;
        margin-bottom: 50px;

        span {
            color: #f68038;
            display: block;
        }
    }

    // .content-mainslider__text
    &__text {}

    // .content-mainslider__footer
    &__footer {
        text-align: center;
        margin: 15px 0 0 0;
    }

    // .content-mainslider__price
    &__price {
        color: $white;
        font-size: 36px;
        font-weight: 900;
        line-height: 24px;
        margin-bottom: 20px;

        &::after {
            font-size: 30px;
        }
    }

    // .content-mainslider__button
    &__button {
        height: 33px;
        border: 3px solid $white;
        justify-content: center;
        align-items: center;
        display: inline-flex;
        border-radius: 15px;
        padding: 0 20px;
        font-weight: 900;
        text-transform: uppercase;
        color: $white;

        &::after {
            content: '';
            width: 14px;
            height: 14px;
            margin-left: 12px;
            background: url('../img/icons/btn_arrow.png') no-repeat;
        }
    }
}

.text-mainslider {
    color: #333;
    font-size: 14px;
    font-weight: 900;
    line-height: 24px;
    text-transform: uppercase;

    // .text-mainslider__text-1
    &__text-1 {
        color: #f68038;
        font-size: 18px;
    }

    // .text-mainslider__text-2
    &__text-2 {
        color: $white;
        background-color: #92918e;
        padding: 5px 15px 5px 5px;
    }

    // .text-mainslider__text-3
    &__text-3 {
        color: #979797;
    }
}

//*                                   news                                                     

.page {

    // .page__side-news
    &__side-news {}
}

.side-label {
    color: $news_title;
    font-size: 12px;
    font-weight: 900;
    line-height: 18px;
    text-transform: uppercase;
    display: inline-block;
}

.news-side {
    margin-bottom: 40px;

    // .news-side__title
    &__title {}

    &__label {
        margin: 0 0 20px/12px*1em 0px;

        &:hover {
            color: $news_label_hover;
        }
    }

    // .news-side__items
    &__items {}

    // .news-side__item
    &__item {
        margin-bottom: 45px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    // .news-side__body
    &__body {
        display: flex;
    }

    // .news-side__data
    &__data {
        flex: 0 0 30px;
        text-align: center;
        color: $news_span;
        font-size: 18px;
        font-weight: 300;

        span {
            display: block;
            font-weight: 900;
            font-size: 24px;
        }
    }

    // .news-side__text
    &__text {}
}

.side-text {
    padding-left: 15px;
    color: $news_text;
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
}

.side-title {
    color: $news_links;
    font-family: 'uniSans';
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    display: inline-block;
    margin: 0 0 25px/30px*1em 0px;

    &:hover {
        color: $news_links_hover;
    }
}

//*                                  rewievs                                         

.page {

    // .page__side-reviews

    &__side-reviews {}
}

.rewiews-side {

    // .rewiews-side__body
    &__body {}

    // .rewiews-side__review
    &__review {
        display: inline-block;
        margin-bottom: 20px;

        &:hover {
            .rewiews-side__label {
                color: $news_links_hover;
            }

            .rewiews-side__label span {
                color: $news_links_hover;
            }

            .rewiews-side__text {
                color: $white;
                background-color: $news_links_hover;
            }
        }
    }

    // .rewiews-side__label
    &__label {
        transition: all .4s ease;
        display: flex;
        justify-content: space-between;
        color: $news_title;
        margin: 0 0 10px/12px*1em 0px;

        &span {
            transition: all .4s ease;
            display: inline-block;
        }
    }

    // .rewiews-side__text
    &__text {
        transition: all .4s ease;
        position: relative;
        padding: 10px 8px 14px 30px;

        &::before {
            transition: all .4s ease;
            content: '"';
            font-size: 48px;
            font-weight: 900;
            position: absolute;
            left: 8px;
            top: 22px;
            color: $news_links;
        }
    }
}

.reviwes-side {

    // .reviwes-side__title
    &__title {}
}

.side-title {}

.side-label {}




//===================================================================================================================================

//====================================================================================================

//====================================================================================================

/*
//Burger
.icon-menu {
	display: none;
	@media (max-width: $md3+px) {
		display: block;
		position: absolute;
		top: 18px; 
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
*/

//</ОСНОВНОЙ БЛОК>====================================================================================================